<div class="form-group">
    <label>{$fieldName}</label>
    <input placeholder="{$fieldName}" name="{$field}" type="password" data-input-type="password" class="form-control">
    {if condition="!empty($msg)"}
    <small class="form-text text-muted">{$msg}</small>
    {/if}
    {if condition="!empty($err)"}
    <small class="form-text text-danger input-error">{$err}</small>
    {/if}
</div>

<!--
$fieldName  字段中文名
$field      字段名
$value      默认值
$msg        提示文本
$err        是否报错

该组件在未填写的情况下将不会吧字段传到后端
-->